.headerMain{
    width: 90%;
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.tabs{
    display: flex;
    align-items: center;
    gap: 5%;

    :nth-child(1) {
        animation: example 1s ease .5s forwards;
      }      
      :nth-child(2) {
        animation: example 1s ease .7s forwards;
      }
      :nth-child(3) {
        animation: example 1s ease 1s forwards;
      }
      :nth-child(4) {
        animation: example 1s ease 1.3s forwards;
      }
                  
}

.tab{
    font-size: 12px;
    opacity: 0;
}

.accountImage{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 1px;
}
.img{
    width: 100%;
    height: 100%;
}
.NumberCart{
    background: #676eff;
    border-radius: 50%;
    padding: 17px;
    height: 2px;
    width: 2px;
    position: relative;

    .number{
        position: absolute;
        top: 26%;
        left: 36%;    
    }
}

.accountAndCart{
    display: flex;
    gap: 70px;
}

.account{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo{
    border: solid #676eff 1px;
    border-radius: 43%;
    padding: 7px;
}

@keyframes example {
    from {opacity: 0; transform: translateY(-105%);}
    to {opacity: 1 ;transform:  translateY(-15%);}
  }
